RewriteEngine On
RewriteBase /

# Если запрашиваемый файл или папка не существует
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Перенаправляем все запросы на index
RewriteRule . /index.html [L]